{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_missing_spec
]}.

{deps, [
    {livery, "~> 0.5.1"},
    {erlydtl, "0.14.0"}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            debug_info,
            nowarn_missing_spec,
            nowarn_export_all
        ]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{cover_enabled, true}.

{project_plugins, [
    {erlfmt, "1.7.0"}
]}.

{erlfmt, [
    write,
    {files, [
        "{src,test}/**/*.{hrl,erl,app.src}",
        "rebar.config"
    ]}
]}.
